ul {
  list-style: none;
}
ul, li {
  padding: 0;
  margin: 0;
}
li {
  display: inline-block;
}

.menu {
  width: 300px;
}
.right {
  float: right;
}
.left {
  float: left;
}

#userLogin, #userPass {
  width: 100%;
}
.input-wrapper {
  width: 100%;
}

.form-login {
  width: 200px;
}

.page-header, .content {
  padding-left: 15px;
  padding-right: 15px;
}

.page-header {
  background-color: #f5f5f5;
  padding-top: 10px;
}

/**********margins******************/

.margin-bottom_10 {
  margin-bottom: 10px;
}

.margin-right_10 {
  margin-right: 10px;
}

.margin-bottom_20 {
  margin-bottom: 20px;
}

/**********************************/



/*************post*****************/

.post {
  border: 1px solid #0275d8;
  border-radius: 6px;
}

.post-header {
  padding: 5px;
}

.post-author {
  font-weight: bold;
}

.post-title {
  color: #0275d8;
  font-weight: bold;
  border-bottom: 1px solid #0275d8;
  cursor: pointer;
}

.post-body {
  padding: 5px;
}

/**********************************/