body, ul, div {
  margin: 0;
  padding: 0;
}
body {
  background-color: #EDEEF0;
}

ul {
  list-style: none;
}
.link {
  padding: 5px 15px;
  text-decoration: none;
}
ul li .link {
  display: block;
}
.brand {
  margin-bottom: 20px;
}

.active {
  background-color: #FFFFFF;
}
.content {
  background-color: #FFFFFF;
  padding: 15px;
  min-height: 200px;
  color: #337AB7;
}



.divider_100 {
  height: 100px;
}



.col-xs-2 {
  padding-right: 0;
  position: relative;
}
.col-xs-7 {
  padding-left: 0;
}

.menu {
  position: fixed;
}

.post-author {
  background-color: #EDEEF0;
  padding: 10px;
  border-radius: 4px;
}

.panel-heading {
  cursor: pointer;
}
